* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

header .top-information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}

header .top-information .logo-block {
  display: flex;
  align-items: center;
  color: #ee8a56;
  font-weight: bold;
  font-size: 18px;
}

header .top-information .logo-block img {
  margin-right: 10px;
}

header .top-information .phone-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .top-information .phone-block img {
  margin-right: 10px;
}

header .top-information .phone-block p {
  font-size: 17px;
}

header .top-information .phone-block mark {
  background: none;
  color: #ee8a56;
}

header .header-headline {
  width: 100%;
  background-image: url(../img/bus-head.jpg);
  background-size: cover;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
}

header .header-headline .headline-block {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 40px 50px rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}

header .header-headline .headline-block h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

header .header-headline .headline-block p {
  font-size: 24px;
  margin-bottom: 20px;
}

header .header-headline .headline-block button {
  background: linear-gradient(to left, #ee8a56, #f8e4c8);
  border: none;
  width: 200px;
  height: 50px;
  color: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(253, 189, 99, 0.7);
}

header .header-headline .headline-img {
  background-image: url(../img/porter-head.png);
  background-repeat: no-repeat;
  height: 460px;
  width: 400px;
  margin-right: 50px;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #1d76a0;
  min-height: 60px;
  margin-top: 30px;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header nav ul li {
  height: 60px;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li .submenu {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 21.3%;
  transition: 0.5s ease-in-out;
  transform: scale(0);
  background-color: #1d76a0;
  margin-top: 10px;
  z-index: 10;
}

header nav ul li .submenu2 {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  transition: 0.5s ease-in-out;
  transform: scale(0);
  background-color: #1d76a0;
  margin-top: 10px;
  z-index: 10;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

header nav ul li:hover {
  background-color: #ee8a56;
}

header nav ul li:hover .submenu {
  transform: scale(1);
}

header nav ul .other-link:hover .submenu2 {
  transform: scale(1);
}
