* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

header .top-information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}

header .top-information .logo-block {
  display: flex;
  align-items: center;
  color: #ee8a56;
  font-weight: bold;
  font-size: 18px;
}

header .top-information .logo-block img {
  margin-right: 10px;
}

header .top-information .phone-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .top-information .phone-block img {
  margin-right: 10px;
}

header .top-information .phone-block p {
  font-size: 17px;
}

header .top-information .phone-block mark {
  background: none;
  color: #ee8a56;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #1d76a0;
  min-height: 60px;
  margin-top: 30px;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header nav ul li {
  height: 60px;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

header nav ul li:hover {
  background-color: #ee8a56;
}
